@font-face {
	font-family: Inter;
	font-display: swap;
	src: url("../fonts/Inter_18pt-Regular.woff2") format("woff2"), url("../fonts/Inter_18pt-Regular.woff2") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Inter-24pt;
	font-display: swap;
	src: url("../fonts/Inter_24pt-Regular.woff2") format("woff2"), url("../fonts/Inter_24pt-Regular.woff2") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Inter-28pt;
	font-display: swap;
	src: url("../fonts/Inter_28pt-Regular.woff2") format("woff2"), url("../fonts/Inter_28pt-Regular.woff2") format("woff");
	font-weight: 400;
	font-style: normal;
}
