/* Colors */
$primary: #ff4646;
$dark: #181c29;
$static-white: #fff;
$content-background: #ecf3f8;
$tag-purple: #4361ff;
$tag-pink: #ff43f7;
$tag-green: #06a44f;
$primary-10: rgba(255, 70, 70, 0.1);
$static-white-20: rgba(255, 255, 255, 0.2);
$static-white-40: rgba(255, 255, 255, 0.4);
$overlay: rgba(64, 63, 61, 0.8);
$dark-overlay: rgba(41, 40, 38, 0.8);

/* Adaptiv conteiner */
$cont-mob: 380px;
$cont-tabl: 768px;
$cont-desk: 1440px;

/* Fonts */

$font-family: "Inter", sans-serif;
$second-family: "Inter-24pt", sans-serif;
$third-family: "Inter-28pt", sans-serif;