@use './base/mixins' as *;
@use './base/vars' as *;
@use './base/themes' as *;

.favorite {
    position: relative;
    @include flex;
    margin: 0 auto;
}

.favorite__title {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 60px;
    line-height: 125%;
    text-align: center;
    color: var(--text-primary);

    .accent {
        color: var(--text-accent);
        font-weight: 600;
        font-size: 60px;
        line-height: 125%;
    }
}

.favorite__btn {
    position: absolute;
    top: 365px;
    left: 44px;
    display: block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 1px solid var(--background-container);

    svg {
        display: block;
        margin: auto;
        width: 14px;
        height: 13px;
        stroke: var(--background-container);
        fill: none;
    }

    &:hover,
    &:focus,
    &:focus-visible {
        background: var(--background-container);
        border: 1px solid var(--background-container);
        outline: none;

        svg {
            stroke: var(--text-inverse);
        }
    }
}

.favorite__btn.before-btn {
    svg {
        transform: rotate(180deg);
    }
}

.favorite__btn.next-btn {
    left: 1260px;
}

.favorite__card,
.favorite__item,
.favorite__list {
    max-width: 1360px;
    @include flex;
    margin: 0 auto;
}

.favorite__list {
    max-width: 1152px;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow: hidden;
}

.favorite__card {
    width: 1152px;
    // height: 640px;
    min-width: 480px;
    max-width: 1152px;
    align-items: center;
    gap: 16px;
}

.favorite__text {
    display: block;
    width: 480px;
    text-align: center;
}

.favorite__price {
    font-weight: 600;
    font-size: 24px;
    line-height: 125%;
    text-align: center;
}

.favorite__list-pagination {
    margin: 0 auto;
    width: max-content;
    padding-top: 40px;
    @include flex;
    flex-direction: row;
    gap: 12px;
}
.pagination__btn {
    display: block;
    width: 40px;
    height: 4px;
    background-color: var(--border-primary);
    border-radius: 100px;
}

.pagination__btn.active {
    background-color: var(--background-container);
}
